
<!-- sidebar start -->
<nav>
  <div class="search" id="search">
    <input type="text" placeholder="Rechercher dans le site..." v-model="txt" @keyup="search()" @blur="close()" maxlength="50">
    <div class="search-results" :style="{'display': showresult?'block':'none'}">
        <a v-for="item in result" :href="item.url">{{ printf "{{ item.title }}" }}</a>
    </div>
</div>

</nav>
<div>
  <a class="twitter-timeline"  data-lang="fr" data-height="600" href="https://twitter.com/Phages_fr?ref_src=twsrc%5Etfw">Tweets par Phages_fr</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>     </div>

<!-- Search Modal -->
{{ if isset .Site.Params "gcse" }}
<div id="modalSearch" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">{{ i18n "gcseLabelLong" . }}</h4>
  </div>
  <div class="modal-body">
    <gcse:search></gcse:search>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
  </div>
</div>
</div>
</div>
{{ end }}

<!-- modules -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>

<script>
let vuesearch = new Vue({
el: '#search', // div ID
data: {
  txt: '', // will contain the text written by user
  timeoutID: 0, // used to detect when the user stopped typing
  showresult: false, // show the result dropdown, or not
  result: {}, // results to display, as JSON : {[ {"url":"", "title":""},..] }
  bdd: [] // will contain the full JSON file created by HUGO
  },
mounted: function() {
  // loading the full JSON to 'bdd'
  axios.get('{{ with .Site.GetPage "/search.md" }}{{ .Permalink }}{{ end }}')
  .then(function (response) {
      vuesearch.bdd = response.data.results;
      })
  .catch(function (error) {
      console.log(error);
      });
  },
methods: {
  close: function() {
      // Close the dropdown when the input search loses focus
      // with a 300ms delay to let time for the click on link to work
      setTimeout(function() {
          vuesearch.showresult = false;
          vuesearch.txt = '';
          }, 300);
      },
  search: function() {
      // we will search when the user stopped typing for 500ms
      clearTimeout(this.timeoutID);
      this.timeoutID = setTimeout(this.dosearch, 500);
      },
  dosearch: function() {
      // do the search in the 'bdd'
      this.result = []; // clear previous result
      let words = this.txt.split(' '); // split typed text with spaces
      let words2 = []; // words that will be searched
      words.forEach(function(element) { // to skip empty words, if multiple spaces typed (i.e "a  b c")
          if(element) {words2.push(element);}
          });
      let r;
      let resultmp;
      words2.forEach(function(e) { // for each word
          r = vuesearch.bdd.filter(p => p.content.indexOf(e.toLowerCase()) !== -1);
          if(vuesearch.result.length===0) {vuesearch.result = r.slice(); return;}
          resultmp = [];
          vuesearch.result.forEach(function(all1) {
              r.forEach(function(all2) { // we want AND for words
                  if(all1.url===all2.url) {resultmp.push(all1);}
                  });
              });
          vuesearch.result = resultmp.slice();
          });
      this.result = this.result.slice(0, 10); // 10 results max
      this.showresult = (this.result.length>0); // show results if we have one or more
      } // dosearch
  } // methods
}); // Vue
</script>



