<nav>

  <ul class="sidebarmenutext" style="list-style-type: none; padding: 0;">
    {{ range where .Site.Pages "Section" .Section }}
      <li class="separation"><a href="{{.Permalink}}" >
        {{ .Title }}
      </a></li>
    {{ end }}
    </ul>

</nav>

