



<article class="post-preview">
  <div class="panel-group" id="accordion">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ range $key, $value := $taxonomy }}
      <div class="panel panel-default">
        <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapse{{ $taxonomyname }}" data-parent="#accordion" >
            <div class="panel-heading" id="header{{ $taxonomyname }}">
              <h4 class="panel-title">
                {{ $key }}
                <span class="badge">{{ $value.Count }}
                </span>
              </h4>
            </div>
        </a>
        <div id="collapse{{ $taxonomyname }}" class="panel-collapse collapse">
          <div class="panel-body">
            {{ range $value.Pages }}
            <div class="list-group" hugo-nav="{{ .RelPermalink}}">
                <a href="{{ .Permalink }}" class="list-group-item">{{ .LinkTitle }}</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
  </div>
  {{ end }}
  {{ end }}
</article>