{{ define "main" }}
{{ $data := .Data }}
  <div role="main" class="container">
      <div class="article">
        <h1>{{.Title}}</h1>
<!--       <p> {{ .Description }}</p>-->
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
      </div>
      <aside id="tableOfContentContainer">
        <p><a href="{{ "tags/" | absLangURL }}" >retourner à la liste des équipes</a></p>
        {{ partial "searchbar.html" . }}
<!--       {{ partial "tags-equipes.html" . }}--> 
</aside>
</div>
{{ end }}