    /*couleur de la bande haute*/
.navbar-custom {
background: #ffc6c6;
}

img.partenaires {
width: 20px;
display: inline;
}

.menu_aside {
	font-size: 12px;
}

h1 {
	font-size: 10px;
	margin: .67em 0;
}

.page-heading h1
{
  font-size: 10px;
}

.sidebarmenutext {
	list-style-type: none;
}

.imageadroite { 

  float : right; 
  margin: 5px 6px 15px 6px; 
}

.imageagauche { 
  float : left; 
  margin : 5px 15px 6px 15px; 
}
