{{ define "main" }}
  <div role="main" class="container">

      <div class="article">
        <h1>{{.Title}}</h1>
<!--       <p> {{ .Description }}</p>-->

        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
      </div>

      <aside id="tableOfContentContainer">
        {{ partial "searchbar.html" . }}
        {{ partial "sidebar.html" . }}
      </aside>



  </div>


{{ end }}
