
<script type="application/ld+json">
  {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "image" : {{ apply .Params.images "absURL" "." }}
  }

  </script>

  
  <metadata>
    <meta property="schema:accessibilitySummary">
       This publication conforms to WCAG 2.0 Level AA.
    </meta>
    <meta property="schema:accessMode">textual</meta>
    <meta property="schema:accessMode">visual</meta>
    <meta property="schema:accessModeSufficient">textual,visual</meta>
    <meta property="schema:accessModeSufficient">textual</meta>
    <meta property="schema:accessibilityFeature">structuralNavigation</meta>
   <!-- <meta property="schema:accessibilityFeature">MathML</meta>-->
    <meta property="schema:accessibilityFeature">alternativeText</meta>
    <meta property="schema:accessibilityFeature">longDescriptions</meta>
    <meta property="schema:accessibilityAPI">ARIA</meta>
    <meta property="schema:accessibilityControl">fullKeyboardControl</meta>
    <meta property="schema:accessibilityControl">fullMouseControl</meta>
    <meta property="schema:accessibilityControl">fullTouchControl</meta>
    <meta property="schema:accessibilityHazard">noFlashingHazard</meta>
    <meta property="schema:accessibilityHazard">noSoundHazard</meta>
    <meta property="schema:accessibilityHazard">noMotionSimulationHazard</meta>
  </metadata>
  