{{ define "main" }}
  <div role="main" class="container">

      <div class="article">
        <h2>{{.Title}}</h2>
       <p> {{ .Description }}</p>
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
      </div>

      <aside id="tableOfContentContainer">
        {{ partial "searchbar.html" . }}
      </aside>



  </div>


{{ end }}
